@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
button {
  cursor: pointer;
  padding: 5px;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 600px;
  min-height: 30vh;
  background: #ececec;
  border-radius: 10px;
  padding: 10px;
}
header {
  display: flex;
  margin: 10px auto;
}
header h1 {
  flex: 1;
  text-align: center;
  font-style: italic;
}
header .clear {
  margin: 10px;
}
.input-form {
  width: 70%;
  margin: 10px auto;
  margin-bottom: 35px;
  text-align: center;
}
ul {
  padding: 0;
}
ul li {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 8px 10px;
  border-radius: 5px;
  margin: 8px auto;
  box-shadow: 1px 1px 2px #6f6f6f;
  background: #e2e1e1;
  line-height: 2;
}
ul li:nth-child(odd) {
  background: rgb(195 195 195);
}
